# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/

# Asset Store
**/Assets/AssetStoreTools*

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.userprefs
*.DotSettings.user

# OS
.DS_Store
Thumbs.db
